@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);

body {
    font-family: 'Roboto', sans-serif;
    color: #666756;
    font-weight: 300;
}

hr {
    /*border: 0;*/
    border-top: 0.2px solid #EAEAEA;
    border-bottom: 0.2px solid #D4D4D4;
    height: 2px;
    color: #f00;
    background-color: #BBB;
}

.text-muted {
    color: #BCBBBB;
}

.text-thin {
    font-weight: 100;
}

.title-logo {
    margin-top: 20px;
}

.title-super {
    font-size: 60px;
}